@font-face {
  font-family: "iconfont"; /* Project id 4204714 */
  src: url('iconfont.woff2?t=1752378550917') format('woff2'),
       url('iconfont.woff?t=1752378550917') format('woff'),
       url('iconfont.ttf?t=1752378550917') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-X:before {
  content: "\e604";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-a-yueqiuxingqiu:before {
  content: "\e798";
}

.icon-footprint:before {
  content: "\e83a";
}

.icon-huojianjiasu:before {
  content: "\ead9";
}

.icon-xieboke:before {
  content: "\e686";
}

.icon-bangbangtang:before {
  content: "\e659";
}

.icon-shurufa:before {
  content: "\e631";
}

.icon-speed:before {
  content: "\e7a7";
}

.icon-fangkuang:before {
  content: "\e629";
}

.icon-liuyan:before {
  content: "\e612";
}

.icon-menu:before {
  content: "\e60e";
}

.icon-lab:before {
  content: "\e838";
}

.icon-jing:before {
  content: "\ea7b";
}

.icon-sword:before {
  content: "\f0a8";
}

.icon-tubiaozhizuomoban:before {
  content: "\e601";
}

.icon-Forge:before {
  content: "\e603";
}

.icon-diqiu:before {
  content: "\e60b";
}

.icon-spider:before {
  content: "\e60c";
}

.icon-youlianguanli:before {
  content: "\e66f";
}

.icon-shiyanshiguanli:before {
  content: "\e607";
}

.icon-zhuye:before {
  content: "\e63d";
}

.icon-music:before {
  content: "\e7f5";
}

.icon-iconsg:before {
  content: "\e60a";
}

.icon-mail:before {
  content: "\e7ad";
}

.icon-gongju:before {
  content: "\e620";
}

.icon-Discord:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e657";
}

.icon-QQ:before {
  content: "\fae0";
}

.icon-vercel:before {
  content: "\e669";
}

.icon-caidan:before {
  content: "\e609";
}

